body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f4f4f9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  h1 {
    margin: 20px 0;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 10px;
    max-width: 600px;
    margin: auto;
  }
  .box {
    background: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  button {
    background-color: #04AA6D; /* Green */
    border: none;
    border-radius:5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
a {
    text-decoration:none;
    color: white;
}